{% extends '_layout.html' %}

{% block title %}Movie Rating App | Create Movie Rating{% endblock %}

{% block body %}
<h1 class="mb-5">Create Movie Rating</h1>
<p class="mb-3">Create a movie rating below</p>
<!-- TODO: Feature 2 -->

<form action="/movies" method="POST">
    <div>
        <label for="title" class="form-label">Movie Title:</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Enter movie title">
        <br>
        <label for="director" class="form-label">Director Name:</label>
        <input type="text" class="form-control" id="director" name="director" placeholder="Enter director name">
        <br>
        <label for="rating" class="form-label">Rating:</label>
        <input type="number" min="0" max="5" id="rating" name="rating" class="form-control" placeholder="Enter rating from 0 to 5:">
    </div>
    <div>
        <br>
        <button type="submit" id="task_two_submit" class="btn btn-primary mb-3"> Save Movie</button>
    </div>
</form>


{% endblock %}
