{% extends '_layout.html' %}


{% block title %}Movie Rating App | Edit Movie{% endblock %}


{% block body %}
<h1 class="mb-5"></h1>
<!-- TODO: Feature 5 for editing a movie -->
<form method="POST">
    <!-- This part is for the title field -->
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" value="{{ movie.title }}" required>
    </div>


    <!-- This part is for director field -->
    <div class="mb-3">
        <label for="director" class="form-label">Director</label>
        <input type="text" class="form-control" id="director" name="director" value="{{ movie.director }}" required>
    </div>


    <!-- This part is for rating field -->
    <div class="mb-3">
        <label for="rating" class="form-label">Rating</label>
        <input type="number" class="form-control" id="rating" name="rating" min="1" max="5" value="{{ movie.rating }}" required>
    </div>


    <!-- This part is for submit button -->
    <button type="submit" class="btn btn-primary">Update Movie</button>
</form>
{% endblock %}


